.leaflet-marker-icon, .leaflet-shadow-pane {
  display: none!important;
}

.location-tips {
  background: transparent!important;
  border: none!important;
  box-shadow: none!important;

  font-weight: bold;
}